<%
navItemsGroup1 = [{url: '/', key: 'home', icon:false}]
navItemsGroup2 = [{url: '/login', key: 'login', icon: true, iconOnly: true, dataToggle:'login-canvas', userImage:true}]
%>

<% include topbar.ejs %>
<% include mobile.ejs %>
<% include sidebar.ejs %>
