<nav role="navigation" class="hide-for-medium-up show-for-small-only">
    <ul id="overlay-nav-menu" class="overlay-nav-menu">
        <% for(var i = 0; i < navItemsGroup1.length; i++) { %>
        <li>
            <a href="<%= navItemsGroup1[i].url %>">
                <% if (navItemsGroup1[i].icon){ %>
                <i class="fa <%= i18n("navigation.item." + navItemsGroup1[i].key + ".icon") %> fa-fw"></i>
                <% } %>
                <%= i18n("navigation.item." + navItemsGroup1[i].key + ".label") %>
            </a>
        </li>
        <% } %>
        <% for(var i = 0; i < navItemsGroup2.length; i++) { %>
        <li>
            <a href="<%= navItemsGroup2[i].url %>">
                <% if (navItemsGroup2[i].icon){ %>
                <% if (navItemsGroup2[i].userImage && user && user.photo){ %>
                <img src="<%= user.photo %>" alt="<%= i18n('navigation.user.photo.alt') %>" class="img round"/>
                <% } else { %>
                <i class="fa <%= i18n("navigation.item." + navItemsGroup2[i].key + ".icon") %> fa-fw"></i>
                <% } %>
                <% } %>
                <%= i18n("navigation.item." + navItemsGroup2[i].key + ".label") %>
            </a>
        </li>
        <% } %>
    </ul>

    <a data-toggle-menu class="overlay-nav-menu-toggle"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-bars fa-stack-1x fa-inverse"></i> </span></a>
</nav>
