<%
sidebarTitle = user ? i18n('navigation.sidebar.right.greeting {{name}}', {name: user.firstName}) : i18n('navigation.sidebar.right.title');
%>


<div class="off-canvas position-right" id="login-canvas" data-off-canvas>
    <a data-toggle="login-canvas" class="close"><i class="fa fa-arrow-right"></i></a>
    <div class="login-content row text-center">
        <div class="columns small-12">
            <% if (user && user.photo) { %>
            <img src="<%= user.photo %>" alt="<%= i18n('navigation.user.photo.alt') %>" class="img round" />
            <% } else { %>
            <i class="text-white fa fa-4x fa-user-circle"></i>
            <% } %>
        </div>
        <div class="columns small-12"><h4 class="text-white"><%= sidebarTitle %></h4></div>

        <% if (user){ %>

        <a href="/logout" class="button"><%= i18n('logout') %></a>


        <% } else { %>
        <form method="POST" action="/login">
            <div class="columns small-12 input-group">
                <span class="input-group-label"><i class="fa fa-at fa-fw"></i></span>
                <input type="email" name="email" class="input-group-field" aria-describedby="Email address" placeholder="email">
            </div>
            <div class="columns small-12 input-group">
                <span class="input-group-label"><i class="fa fa-lock fa-fw"></i></span>
                <input type="password" name="password" class="input-group-field" aria-describedby="Password" placeholder="password">
            </div>
            <div class="columns small-12 align-right">
                <button class="button primary" type="submit">Login!</button>
            </div>
        </form>
        <% } %>
    </div>
    <% if (!user){ %>
    <div class="row register-content text-center">
        <div class="columns small-12">
            <a href="/register">No account yet? Feel free to register!</a>
        </div>
    </div>
    <% } %>
</div>