<header class="sticky-shrinknav-header ">
    <h1 class="sticky-shrinknav-header-title"><%= title %></h1>
    <ul class="menu sticky-shrinknav-menu-left align-center sticky-shrinknav-menu show-for-medium-up hide-for-small-only">
        <% for(var i = 0; i < navItemsGroup1.length; i++) { %>
        <li>
            <a <%= navItemsGroup1[i].dataToggle ? 'data-toggle=' + navItemsGroup1[i].dataToggle : 'href=' + navItemsGroup1[i].url; %>>
                <% if (navItemsGroup1[i].icon){ %>
                <% if (navItemsGroup1[i].userImage && user && user.photo){ %>
                <img src="<%= user.photo %>" alt="<%= i18n('navigation.user.photo.alt') %>" class="img round"/>
                <% } else { %>
                <i class="fa <%= i18n("navigation.item." + navItemsGroup1[i].key + ".icon") %>" <%= navItemsGroup1[i].iconOnly + ".iconOnly" ? 'style=margin-right:0;' : ''; %>></i>
                <% } %>
                <% } %>
                <%= !navItemsGroup1[i].iconOnly ? i18n("navigation.item." + navItemsGroup1[i].key + ".label") : ''; %>
            </a>
        </li>
        <% } %>
    </ul>
    <ul class="menu sticky-shrinknav-menu-right align-right sticky-shrinknav-menu show-for-medium-up hide-for-small-only">
        <% for(var i = 0; i < navItemsGroup2.length; i++) { %>
        <li>
            <a <%= navItemsGroup2[i].dataToggle ? 'data-toggle=' + navItemsGroup2[i].dataToggle : 'href=' + navItemsGroup2[i].url; %>>
                <% if (navItemsGroup2[i].icon){ %>
                <% if (navItemsGroup2[i].userImage && user && user.photo){ %>
                <img src="<%= user.photo %>" alt="<%= i18n('navigation.user.photo.alt') %>" class="img round"/>
                <% } else { %>
                <i class="fa <%= i18n("navigation.item." + navItemsGroup2[i].key + ".icon") %>" <%= navItemsGroup2[i].iconOnly + ".iconOnly" ? 'style=margin-right:0;' : ''; %>></i>
                <% } %>                <% } %>
                <%= !navItemsGroup2[i].iconOnly ? i18n("navigation.item." + navItemsGroup2[i].key + ".label") : ''; %>
            </a>
        </li>
        <% } %>
    </ul>
</header>
