<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <% include resources/stylesheets/base.ejs %>
    <% include resources/stylesheets/navigation.ejs %>
</head>

<body>
<% include includes/navigation/index.ejs %>

<div class="row align-center">
    <h1><%= message %></h1>
    <!--<h2><%= error.status %></h2>-->
    <!--<pre><%= error.stack %></pre>-->
</div>
<% include resources/scripts/base.ejs %>
<% include resources/scripts/navigation.ejs %>
</body>
</html>


