<!DOCTYPE html>
<html>
<head>
    <title><%= appTitle %></title>

    <% include resources/stylesheets/base.ejs %>
    <% include resources/stylesheets/navigation.ejs %>

</head>
<body>
<% include includes/navigation/index.ejs %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="row align-center">

</div>

<% include resources/scripts/base.ejs %>
<% include resources/scripts/navigation.ejs %>
</body>
</html>
