<!DOCTYPE html>
<html>
<head>
    <title><%= appTitle %></title>

    <% include resources/stylesheets/base.ejs %>
    <% include resources/stylesheets/navigation.ejs %>
    <% include resources/stylesheets/register.ejs %>

</head>
<body>
<% include includes/navigation/index.ejs %>

<div class="row">
    <div class="columns medium-5 align-right">FACEBOOK ZOOI</div>
    <hr class="hide-for-medium-up show-for-small-only">

    <div class="columns medium-7">
        <h3><%= i18n('register.form.title') %></h3>

        <form autocomplete="on" method="POST" action="/register" id="registration-form">
            <!--Photo & Name-->
            <div class="row">
                <!--Profile photo-->
                <div class="medium-5 large-3 columns">
                    <div id="dropzonePreview"></div>
                    <div class="dropzone" id="profile-image"></div>
                </div>

                <!--First & Last name-->
                <div class="columns medium-7 large-9">
                    <div class="medium-12 columns">
                        <label><%= i18n('register.form.name.firstName.label') %>
                            <input type="text" name="firstname" placeholder="<%= i18n('register.form.name.firstName.placeholder') %>">
                        </label>
                    </div>
                    <div class="medium-12 columns">
                        <label><%= i18n('register.form.name.lastName.label') %>
                            <input type="text" name="lastname" placeholder="<%= i18n('register.form.name.lastName.placeholder') %>">
                        </label>
                    </div>
                </div>
            </div>
            <!--Email-->
            <div class="row">
                <!--Email-->
                <div class="columns small-12">
                    <div class="columns medium-12">
                        <div class="input-group">
                            <span class="input-group-label"><i class="fa fa-at fa-fw"></i></span>
                            <input type="email" name="email" class="input-group-field" aria-describedby="Email address" placeholder="<%= i18n('register.form.name.email.placeholder') %>">
                        </div>
                    </div>
                </div>
            </div>
            <!--Password-->
            <div class="row">
                <div class="columns small-12">
                    <div class="columns medium-6">
                        <div class="input-group">
                            <span class="input-group-label"><i class="fa fa-lock fa-fw"></i></span>
                            <input type="password" name="password" class="input-group-field" aria-describedby="Password" placeholder="<%= i18n('register.form.name.password.placeholder') %>">
                        </div>
                    </div>
                    <div class="columns medium-6">
                        <div class="input-group">
                            <span class="input-group-label"><i class="fa fa-lock fa-fw"></i></span>
                            <input type="password" name="passwordCheck" class="input-group-field" aria-describedby="Password" placeholder="<%= i18n('register.form.name.password.placeholder') %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12">
                    <div class="columns text-center">
                        <button type="submit" class="button nudge"><%= i18n('register.form.submit') %></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<% include resources/scripts/base.ejs %>
<% include resources/scripts/navigation.ejs %>

<% include resources/scripts/register.ejs %>
<script>
    $('#profile-image').find('.dz-message span').html('<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i> </span>');
</script>
</body>
</html>
