@import '../partials/mixins';

$nudge-speed: 2s;
$nudge-rotate: 1deg;

$pulse-speed: 1s;
$pulse-max: 1.1;
$pulse-min: 0.9;

$bounceHorizontal-speed: 2s;

.nudge {
    @include animation('nudge #{$nudge-speed} infinite');
}

@include keyframes(nudge) {
    0% { transform: rotate(0deg); }
    5% { transform: rotate($nudge-rotate); }
    10% { transform: rotate(-$nudge-rotate); }
    15% { transform: rotate($nudge-rotate); }
    20% { transform: rotate(-$nudge-rotate); }
    25% { transform: rotate(0deg); }
}

@include keyframes(pulse) {
    0% { transform: scale(1.0); }
    20% { transform: scale($pulse-max); }
    40% { transform: scale($pulse-min); }
}

@include keyframes(bounceHorizontal) {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-15px);
    }
}

.pulse {
    @include animation('pulse #{$pulse-speed} infinite');
}

.bounceHorizontal {
    @include animation('bounceHorizontal #{bounceHorizontal-speed} infinite');
}