<script type="application/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/libs/foundation-sites/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script type="application/javascript" src="/libs/pnotify/dist/pnotify.js"></script>
<script type="application/javascript" src="/libs/dropzone/dist/min/dropzone.min.js"></script>
