@import "../mixins/alert";
@import "../colors";

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($success-color, $success-color, $white);
}

.alert-info {
  @include alert-variant($info-color, $info-color, $white);
}

.alert-warning {
  @include alert-variant($warning-color, $warning-color, $white);
}

.alert-danger {
  @include alert-variant($danger-color, $danger-color, $white);
}
