@import "../partials/colors.scss";
@import "../partials/mixins.scss";

$close-login-canvas-color: $third-color;
$login-canvas-bg-color: $primary-color;

$sidebar-image-size: 100px;
$sidebar-image-border-color: $white;

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

#login-canvas {
    background-color: rgba(darken($login-canvas-bg-color, 5%), 0.9);

    .login-content {
        margin-top: 3rem;

        img {
            width: $sidebar-image-size;
            height: $sidebar-image-size;
            object-fit: cover;
            border:2px solid $sidebar-image-border-color;
        }


        h4 {
            color: $white;
        }
        form {
            input {
                font-size: 0.9em;
            }
        }

    }

    .close {
        //position:absolute;
        font-size: 2rem;
        z-index: 5000;
        color: $close-login-canvas-color;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        transition: all 0.4s ease-in-out;

        i {
            &:hover {
                transition: all 0.4s ease-in-out;
                color: lighten($close-login-canvas-color, 60%);
                @include animation('bounceHorizontal 2s infinite');
            }
        }

    }

}

