@import "../partials/colors.scss";

$overlay-nav-menu-toggle-size: 1.5rem;
$overlay-nav-menu-toggle-color: $primary-color;
$overlay-nav-menu-link-height: 6.25rem;
$overlay-nav-menu-link-color: white;
$overlay-nav-menu-link-border: 1px solid rgba($overlay-nav-menu-link-color, 0.5);
$overlay-nav-menu-bg: $primary-color;
$hover-color: #2e2e2e;
$hover-color-bg: white;

$mobile-image-size: 32px;
$mobile-image-border-color: $white;

.no-scroll {
  overflow:hidden;
}

.overlay-nav-menu-toggle {
  position:fixed;
  font-size: $overlay-nav-menu-toggle-size;
  z-index: 5000;
  color: $overlay-nav-menu-toggle-color;
  top: 1rem;
  left: 1rem;
  transition: all 0.4s ease-in-out;



  &:hover {
    transition: all 0.4s ease-in-out;
    color: lighten($overlay-nav-menu-toggle-color, 30%);
  }
}

.sticky-shrinknav-wrapper {
  .overlay-nav-menu-toggle {
    top:-0.2rem;
  }
}

.overlay-nav-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  list-style: none;
  background: $overlay-nav-menu-bg;
  background-size: cover;
  text-align: center;
  transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1.000, -0.400, 0.440, 0.985);

  li {
    font-size: 1.5rem;
  }

  a {
    display: block;
    color: $overlay-nav-menu-link-color;
    font-weight: bold;
    height: $overlay-nav-menu-link-height;
    line-height: $overlay-nav-menu-link-height;
    border-bottom: $overlay-nav-menu-link-border;
    text-decoration: none;

    img {
      width: $mobile-image-size;
      height: $mobile-image-size;
      object-fit: cover;
      border: 2px solid $mobile-image-border-color;
    }

    &:hover {
      background-color: rgba($hover-color-bg, 0.6);
      color: $hover-color;
    }
  }

  &.is-open {
    top: 0;
    opacity: 1;
    transform: perspective(200px) translateX(0) rotateX(0);
  }

  &.is-open ~ .overlay-nav-menu-toggle {
    display: inline-block;
    transition: all 0.4s ease-in-out;
    transform: rotate(135deg);
    color: lighten($overlay-nav-menu-toggle-color, 100%);
  }

  &.is-open ~ .overlay-nav-menu-toggle .fa-circle {
    color: $overlay-nav-menu-toggle-color;
  }
}
