@import "../partials/colors.scss";
@import "../partials/mixins.scss";

$sticky-shrinknav-menu-height: rem-calc(60);
$sticky-shrinknav-hero-height: 150px;
$white: white;
$image: "/images/header.jpg";

$sticky-image-size: 32px;
$sticky-image-border-color: $white;

$pulse-speed: 1s;

.menu {
    i {
        vertical-align: baseline !important;
    }
}

.navbar-offset {
    padding-top: $sticky-shrinknav-hero-height + 30px;
}

.sticky-shrinknav-menu-left {
    left: 0;
    padding-left: 0.1rem;

    li {
        border-radius: 2px;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 0 0 1px $white;
        }
    }
}

.sticky-shrinknav-menu-right {
    right: 0;
    padding-right: 0.1rem;

    li {
        a {
            i, img {
                &:hover {
                    transition: all 0.4s ease-in-out;
                    @include animation('pulse #{$pulse-speed} infinite');

                }
            }
        }
    }


}

.sticky-shrinknav-menu {
    position: absolute;
    bottom: 0;
    height: $sticky-shrinknav-menu-height;
    line-height: $sticky-shrinknav-menu-height;
    width: 50%;
    background-color: rgba($black, 0.2);
    transition: all 0.5s ease;
    //padding-top:0.8rem;

    //li {
    //    border-radius: 2px;
    //    transition: all 0.3s ease;
    //
    //    &:hover {
    //        box-shadow: 0 0 0 1px $white;
    //    }
    //}

    a {
        color: $white;

        img {
            width: $sticky-image-size;
            height: $sticky-image-size;
            object-fit: cover;
            border: 2px solid $sticky-image-border-color;
        }

    }
}

.sticky-shrinknav-header-title {
    transition: all 0.3s ease;
    position: relative;
    transform: translateY(-$sticky-shrinknav-menu-height/2);
    margin-bottom: 0;
    color: $white;
}

.sticky-shrinknav-header {
    background-image: url($image);
    background-size: cover;
    width: 100%;
    height: $sticky-shrinknav-hero-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($primary-color, 10%);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
    padding-top: 130px;

    .sticky-shrinknav-header {
        height: $sticky-shrinknav-menu-height;
        background-color: rgba($primary-color, 0.9);

        .sticky-shrinknav-header-title {
            transform: scale(0);
            transition: all 0.3s ease;
        }
    }
}
