@import '../partials/colors.scss';

$uploader-size:150px;

#profile-image{
    min-height:$uploader-size;
    height:$uploader-size;
    max-height:$uploader-size;
    min-width:$uploader-size;
    width:$uploader-size;
    max-width:$uploader-size;
    border-radius:$uploader-size;
    border-color: $primary-color;
}