@import "../../../node_modules/foundation-sites/scss/foundation";
@import "../../../node_modules/foundation-sites/scss/util/util";
//@import "../../../node_modules/foundation-sites/scss/util/color";

//@include add-foundation-colors;
//


$primary-color: #468966;
$secondary-color: #FFF0A5;
$third-color: #FFB03B;
$fourth-color: #B64926;
$fifth-color: #8E2800;

$white: white;
$black: #222222;

$success-color: $primary-color;
$info-color: $secondary-color;
$warning-color: $third-color;
$danger-color: $fourth-color;
